.root-container {
  /* min-width: 100px; */
  /* max-width: 1000px; */
  width: 100%;
  height: 100%;
  position: relative;
}

.prj {
  position: absolute;
  background-color: white;
  height: auto;
  line-height: 26px;
  align-items: center;
  left: -110px;
  color: #008fbe;
  font-weight: bold;
  width: 6.3rem;
  text-align: center
}

/* if screen is smaller than a certain width (960px, with 415min width of each column), we hide a few vertical elements */

/* eles first, then media */
.nwvert-r-1 {
  width: 5px;
  background: blue;
  height: 100%;
}

.nwvert-wh-1 {
  width: 5px;
  background: white;
  height: 100%;
}
.nwvert-r-2 {
  width: 5px;
  background: blue;
  height: 100%;
}

.nwvert-wh-2 {
  width: 5px;
  background: white;
  height: 100%;
}
.nwvert-r-3 {
  width: 5px;
  background: blue;
  height: 100%;
}

.nwvert-wh-3 {
  width: 5px;
  background: white;
  height: 100%;
}
/* 3 columns each min 415 = 1245, shrinking starts at 1560px */
@media only screen and (min-width: 1245px) and (max-width: 1405px) {
  .nwvert-r-1 {
      display: none !important;
  }
}
@media only screen and (min-width: 1245px) and (max-width: 1395px) {
  .nwvert-r-2 {
      display: none !important;
  }
}
@media only screen and (min-width: 1245px) and (max-width: 1385px) {
  .nwvert-r-3 {
      display: none !important;
  }
}
/* 2 columns each min 415 = 830  */
@media only screen and (min-width: 830px) and (max-width: 960px) {
  .nwvert-r-1 {
      display: none !important;
  }
}
@media only screen and (min-width: 830px) and (max-width: 950px) {
  .nwvert-r-2 {
      display: none !important;
  }
}
@media only screen and (min-width: 830px) and (max-width: 940px) {
  .nwvert-r-3 {
      display: none !important;
  }
}
/* one screen only, need one for two as well (left auto right auto margin) */
@media only screen and (max-width: 1260px) {
  .main {
    margin: 0 auto;
    flex-basis: 100%;
  }
  .mgn-sml-disp {
    margin-bottom: 5px;
  }
}
.main2 {
  flex: 1 1 auto;     
  position: relative;
  min-width: 1px;
  margin: auto;
}
 

.center-main {
  display: flex;
  justify-content: center;
  height: 100vh;
}
video {
  width: 100% !important;
  height: auto !important;
}
html, body{
  height: 100%;
}

.tckr {
  background-color: transparent !important;
  color: red;
  font-family: gtsectra;
  font-size: 3rem;
}
@font-face {
  font-family: "gtsectra";
  src: url('GT-Sectra-Fine-Bold-Italic.ttf');
}

@keyframes changeLeftPrj {
  from {
    left: -110px;
  }

  to {
    left: 350px;
  }
}

.prj0a {
  animation-duration: 4.6s;
  animation-name: changeLeftPrj;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 0.2s;
  animation-timing-function: linear;
}
.prj0b {
  animation-duration: 3.6s;
  animation-name: changeLeftPrj;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 0.0s;
  animation-timing-function: linear;
}
.prj0c {
  animation-duration: 6.6s;
  animation-name: changeLeftPrj;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 1.0s;
  animation-timing-function: linear;
}
.prj0d {
  animation-duration: 8.6s;
  animation-name: changeLeftPrj;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 0.5s;
  animation-timing-function: linear;
}
