/* .sidebar {
  flex: 0 0 500px;
  background-color: greenyellow; 
} */
/* @media screen and (max-width:767px){
    .chat-wrapper{position:relative;height:300px;left:0;}
  } */
/* .content-right {
  background-color: beige; 

} */

/* sidebar */
body {
  height: 100vh;
  overflow-x: hidden;
  /* margin-top: 48px; */
}

.w-sidebar {
  width: 200px;
  max-width: 200px;
}

.row.collapse {
  margin-left: -200px;
  left: 0;
  transition: margin-left .15s linear;
}

.row.collapse.show {
  margin-left: 0 !important;
}

.row.collapsing {
  margin-left: -200px;
  left: -0.05%;
  transition: all .15s linear;
}

/* @media (max-width:768px) { */

.row.collapse,
.row.collapsing {
  margin-left: 0 !important;
  left: 0 !important;
  overflow: visible;
}

.row>.sidebar.collapse {
  display: flex !important;
  margin-left: -100% !important;
  transition: all .25s linear;
  position: fixed;
  z-index: 1050;
  max-width: 0;
  min-width: 0;
  flex-basis: auto;
}

.row>.sidebar.collapse.show {
  margin-left: 0 !important;
  width: 100%;
  max-width: 100%;
  min-width: initial;
}

.row>.sidebar.collapsing {
  display: flex !important;
  margin-left: -10% !important;
  transition: all .2s linear !important;
  position: fixed;
  z-index: 1050;
  min-width: initial;
}

/* } */

.tckr {
  background-color: transparent !important;
  color: red;
  font-family: gtsectra;
  font-size: 3rem;
}

@font-face {
  font-family: "gtsectra";
  src: url('GT-Sectra-Fine-Bold-Italic.ttf');
}

/* hyper links black + active italic */
.project-link {
  color: black;
}

.project-link:hover {
  color: black;
}

.project-link-active {
  font-style: italic;
}

/* carousel hover */
.carousel .carousel-control-prev,
.carousel .carousel-control-next {
  visibility: hidden;
}

.carousel:hover .carousel-control-prev,
.carousel:hover .carousel-control-next {
  visibility: visible;
}

/* bottom left navbar */

.navbar-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.carousel,
.carousel-inner,
.carousel-inner .carousel-item {
  height: 100%;
}

.prj11 {
  background: url(projects/quer/1_transition/butter_transition_1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.prj21 {
  background: url("projects/quer/2_neunerhaus/butter_neunerhaus.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.prj31 {
  background: url("projects/quer/3_pffv/butter_porn_0.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.prj32 {
  background: url("projects/quer/3_pffv/butter_porn_00.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.prj33 {
  background: url("projects/quer/3_pffv/butter_porn_1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.prj34 {
  background: url("projects/quer/3_pffv/butter_porn_10.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.prj35 {
  background: url("projects/quer/3_pffv/butter_porn_11.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.prj36 {
  background: url("projects/quer/3_pffv/butter_porn_12.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.prj37 {
  background: url("projects/quer/3_pffv/butter_porn_2.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.prj38 {
  background: url("projects/quer/3_pffv/butter_porn_3.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.prj39 {
  background: url("projects/quer/3_pffv/butter_porn_4.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.prj310 {
  background: url("projects/quer/3_pffv/butter_porn_5.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.prj311 {
  background: url("projects/quer/3_pffv/butter_porn_6.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.prj312 {
  background: url("projects/quer/3_pffv/butter_porn_7.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.prj313 {
  background: url("projects/quer/3_pffv/butter_porn_8.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.prj314 {
  background: url("projects/quer/3_pffv/butter_porn_9.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.prj41 {
  background: url("projects/quer/4_lola marsh/butter_lola_0.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.prj42 {
  background: url("projects/quer/4_lola marsh/butter_lola_1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.prj43 {
  background: url("projects/quer/4_lola marsh/butter_lola_2.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.prj44 {
  background: url("projects/quer/4_lola marsh/butter_lola_3.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.prj45 {
  background: url("projects/quer/4_lola marsh/butter_lola_4.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.prj46 {
  background: url("projects/quer/4_lola marsh/butter_lola_5.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.prj51 {
  background: url("projects/quer/5_wiener_linien/butter_wlinien_erstes.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.prj52 {
  background: url("projects/quer/5_wiener_linien/butter_wlinien_0.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.prj53 {
  background: url("projects/quer/5_wiener_linien/butter_wlinien_1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.prj54 {
  background: url("projects/quer/5_wiener_linien/butter_wlinien_2.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.prj55 {
  background: url("projects/quer/5_wiener_linien/butter_wlinien_3.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.prj56 {
  background: url("projects/quer/5_wiener_linien/butter_wlinien_4.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.prj57 {
  background: url("projects/quer/5_wiener_linien/butter_wlinien_letztes.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
